/* More space at the bottom of the page. */
.md-main__inner {
  margin-bottom: 1.5rem;
}

[data-md-color-primary="lovis4u_brown"] {
    --md-primary-fg-color: #303030;
    --md-primary-fg-color--light: #303030;
    --md-primary-fg-color--dark: #303030;
}


[data-md-color-accent="lovis4u_yellow"] {
    --md-accent-fg-color: #FFD168;
    --md-accent-fg-color--light: #FFD168;
    --md-accent-fg-color--dark: #FFD168;
}


:root {
  --md-admonition-icon--card_hearts: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m12 21.1-1.5 1.3c-6.6-5.9-10-9-10-12.8 0-1.2.4-2.3 1-3.2V7c0 4.7 3.9 8.2 10.5 14.1m1.6-4.1c4.7-4.3 7.9-7.1 8-10 0-2-1.5-3.5-3.5-3.5-1.6 0-3.1 1-3.6 2.4h-1.9C12 4.5 10.5 3.5 9 3.5 7 3.5 5.5 5 5.5 7c0 2.9 3.1 5.7 7.9 10l.1.1M18 1.5c3.1 0 5.5 2.4 5.5 5.5 0 3.7-3.4 6.8-10 12.8-6.6-5.9-10-9-10-12.8 0-3.1 2.4-5.5 5.5-5.5 1.7 0 3.4.8 4.5 2.1 1.1-1.3 2.8-2.1 4.5-2.1Z"/></svg>')
}

.md-typeset .admonition.card_hearts,
.md-typeset details.card_hearts {
    border-color: rgba(169, 169, 169, 0.1);
}

.md-typeset .card_hearts > .admonition-title,
.md-typeset .card_hearts > summary {
  background-color: rgba(169, 169, 169, 0.1); /* Light grey background */
}

.md-typeset .card_hearts > .admonition-title::before,
.md-typeset .card_hearts > summary::before {
 	background-color: rgba(0, 0, 0, 1); 
  	 -webkit-mask-image: var(--md-admonition-icon--card_hearts);
          	mask-image: var(--md-admonition-icon--card_hearts);
}



